body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 60px;
}

.logo img{
  max-width: 12%;
}

nav {
    flex-grow: 1;
    text-align: center; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block; 
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-weight: bold; 
    transition: color 0.3s ease; 
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease; 
}

a:hover {
    color: #ffcc00; 
    text-decoration: none;
}

a:hover::after {
    width: 100%;
}

.logo img {
    border-radius: 50%; 
}
