<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encabezado</title>
    <link rel="stylesheet" href="header.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-pBkIoV6rFMyJFcTpuFPWnmTEQTa1A2MnpALhKvlCVbG5kZroisVMFFJUPy8o+j+Yhsy+k5kXm/8hFDTyTuhzAA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="logo">
            HowToVLC
        </div>
        <nav>
            <ul>
                <li><a href="#recursos">Recursos</a></li>
                <li><a href="#eventos">Eventos</a></li>
                <li><a href="#mapa">Mapa</a></li>
                <li><a href="#perfil">Perfil de Usuario</a></li>
            </ul>
        </nav>
        <div class="logo">
            <img src="mondongo.png" alt="Logo">
        </div>
    </header>

</body>
</html>
