<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>header</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
	<link rel="stylesheet" href="header.component.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="btn-menu">
				<label for="btn-menu">☰</label>
			</div>
		</div>
	</header>

	<header class="header-mobile">
        <div class="containerM">
                <a href="#"><i class="fas fa-home"></i></a>
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-plus"></i></a>
                <a href="#"><i class="fas fa-heart"></i></a>
                <a href="#"><i class="fas fa-user"></i></a>
        </div>
    </header>

<!--	--------------->
<input class="check" type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="#">Inicio</a>
			<a href="#">Eventos</a>
			<a href="#">Rescursos</a>
			<a href="#">Mapa</a>
			<a href="#"> Perfil</a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>
</body>
</html>