/* GENERAL - Se podría añadir a todas las páginas */ 

:root{ /* ¡¡IMPORTANTE!! Variables para los colores, usar estas y añadir colores aquí */
    --background : #0A0E3F;
    --item-background : #39336a;
    --subitem-background : #1e1c50;

    --amarillo-main : #ffcd07;
    --amarillo-enfasis : #826c00;

    --gris : grey;
    --blanco : white;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
    text-decoration: none;
}
body{margin: 0; background-color: var(--background);}

/* -------------------------------------------------- FORMULARIO --------------------------------------------------- */

form, form *{background-color: var(--item-background); font-size: auto; text-wrap: nowrap;}

.formulario-container{
    display: flex; justify-content: center; align-items: center;
    height: 90vh;
    margin: 0 5vw;
}

form{
    /* medidas */
    height: 50vh; width: 35vw;
    max-height: 350px; min-height: fit-content;
    max-width: 100%; min-width: fit-content;
    /* display */
    display: grid; grid-template-columns: repeat(2, 1fr);
    align-items: center; justify-content:space-between;
    /* separaciones */
    column-gap: 2vw;
    padding: 3.5vh 3vw 2.5vh 3vw;
    /* efectos: bordes y sombra */
    border: solid var(--item-background) 2px; border-radius: 15px;
    box-shadow: 0px 0px 25px 5px rgba(5, 5, 15, 0.75);
}

/* Elementos del formulario */
form div {display: flex; flex-direction: column;}

/****** Top del formulario ******/
form label {margin-bottom: 1vh;}

form div input, form div select{
    /* medidas */
    height: 3vh; width: 15vw;
    min-height: fit-content; max-height: 40px;
    min-width: 150px; max-width: 100%;
    /* separaciones */
    padding: 5px 0; /* Separación interior arriba y abajo en el recuadro de input */
    /* color de fondo y bordes */
    background-color: var(--subitem-background); 
    border: solid var(--subitem-background) 1px; border-radius: 5px;
    border-left-width: 10px; /* Añade un espacio más grande al principio entre el texto y el container del input */
}

form div .fecha{height: 3.2vh;}


form div select .default{
    color: var(--gris);
}

/* bottom del formulario */
.submit-button-container, .mensaje{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;
}

.submit-button{
    /* medidas */
    height: 4.5vh; width: 7vw;
    min-height: 30px; min-width: 80px;
    /* color de fondo y bordes */
    background-color: var(--amarillo-main);
    border: solid var(--amarillo-main) 1px;
    /* letra */
    color: var(--amarillo-enfasis);
    cursor: pointer;
    font-size: medium;
    /* transición de hover y active */
    transition: ease-in-out 0.3s;
}
.submit-button:hover{
    background-color:#00a2ff;
    border: solid #00a2ff 1px;
    color:#005180;
}
.submit-button:active{
    background-color: #005180;
    border: solid #005180 1px;
    color:#002940;
}

form .mensaje, form .asterisco{
    font-size: smaller;
    align-items: flex-start;
    color: var(--gris);
}

/* ------------------------------------------------ FIN FORMULARIO ------------------------------------------------ */


/******************************************************* FOOTER ******************************************************/

footer{display: flex; justify-content: center; align-items: center;}
footer p{color: var(--amarillo-main); font-size: 1.5vh;}
