section {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #090274;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;
  align-items: end;
  justify-content: end;
  text-align: end;
}

.filtro {
  background-color: transparent;
  border: 2px solid #333;
  color: #333;
  padding: 60px 50px;
  font-size: 40px;
  cursor: pointer;
}

h1 {
  margin-left: 40px;
  padding: 0;
  font-size: 30px;
  color: white;
  text-align: center;
}
