* { max-width: 100%; }

.recurso {
  /* dimensiones */
  max-width: 100%;
  max-height: 100%; height: 95%;

  /* display e alineación */
  display: flex; flex-direction: column; gap: 3vh;
  justify-content: space-between;

  padding: 3vh 5vw;
  background-color: var(--item-background);
  border-radius: 2.5vw;
}

/* header */
.recurso .header-recurso {
  height: 7.5vh; width: 100%;
  display: flex;  align-items: center;
  flex-direction: row;
  gap: 2vw; padding-bottom: 1vw;
  border-bottom: solid 0.2vh white;
}

.recurso-img-container{ display: flex; align-items: center; }

.recurso-img-container img { border-radius: 1vw; }

.recurso .header-recurso * { max-height: 7.5vh; max-width: 7.5vw; }

.recurso .header-recurso h2 { font-size: 2vw; text-wrap: nowrap; }

/* cuerpo */

.recurso .cuerpo-recurso { display: flex; flex-direction: column; }

.recurso .cuerpo-recurso p a { text-decoration: underline; } /* link a web y contacto */

.recurso .cuerpo-recurso h4,
.recurso .cuerpo-recurso ul
{ font-size: 1vw; margin: 0.5vh 0; }

.recurso .cuerpo-recurso ul li{ font-size: 1vw; }

.recurso .cuerpo-recurso p, .cuerpo-recurso p i
{
  /* display e alineación */
  display: flex; align-items: center; gap: 0.3vw;

  /* texto e iconos: */
  font-size: 1.1vw; color: var(--amarillo-main);
}

/* footer */

.recurso .footer-recurso {
  height: 5vh;
  display: flex; flex-direction: row;
  align-items: center;
  gap: 1vw;  margin: 1vh 0;
}

.recurso .footer-recurso p{
  font-size: 0.75vw; text-wrap: nowrap;
}

.recurso .footer-recurso a { height: 100%; display: flex; align-items: center; }

.recurso .footer-recurso a img{ max-height: 100%; transition:ease-in-out 100ms 30ms;}

/* hovers */

.recurso .footer-recurso a:hover img{ filter: drop-shadow(0 0 20px var(--amarillo-main)); }

.recurso .cuerpo-recurso p a:hover{ color: var(--amarillo-enfasis);}

/* MEDIA QUERIES */
@media only screen and (max-width: 1080px) {

  .recurso {
    gap: 0px;
    height: 80%;
  }

  .recurso .header-recurso {
    height: fit-content;
  }

}
