<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dashboard.component.css">
    <title>Dashboard</title>
</head>

<body>

    <main>
        <div class="dashboard-container">

            <!-- parte izquierda del dashboard -->
            <section class="left-dashboard">

                <!-- transporte -->
                <article class="dashboard-items-container transporte">

                    <div class="dashboard-item">
                        metro
                        <img class="dashboard-icon" src="" alt="">
                    </div>

                    <div class="dashboard-item">
                        emt
                        <img class="dashboard-icon" src="" alt="">
                    </div>

                    <div class="dashboard-item">
                        fernanbus
                        <img class="dashboard-icon" src="" alt="">
                    </div>

                    <div class="dashboard-item">
                        valenbisi
                        <img class="dashboard-icon" src="" alt="">
                    </div>

                </article>

                <!-- recursos -->

                <article class="dashboard-items-container recursos">

                    <div class="dashboard-item">
                        rutas
                        <img class="dashboard-icon" src="" alt="">
                    </div>

                    <div class="dashboard-item">
                        gva112
                        <img class="dashboard-icon" src="" alt="">
                    </div>

                    <div class="dashboard-item">
                        salir
                        <img class="dashboard-icon" src="" alt="">
                    </div>

                    <div class="dashboard-item">
                        seguridad
                        <img class="dashboard-icon" src="" alt="">
                    </div>

                </article>

                <!-- espacio libre -->

                <article class="dashboard-items-container espacio-libre">
                    <div class="dashboard-item">
                        libre1
                        <img class="dashboard-icon" src="" alt="">
                    </div>
                </article>

                <article class="dashboard-items-container espacio-libre">
                    <div class="dashboard-item">
                        libre2
                        <img class="dashboard-icon" src="" alt="">
                    </div>
                </article>

            </section>

            <!-- parte derecha del dashboard -->
            <section class="right-dashboard">

                <!-- gva starter pack -->
                <article class="dashboard-items-container, apps-gva">

                    <div class="dashboard-item">
                        gva +salut
                        <img class="dashboard-icon" src="" alt="">
                    </div>

                    <div class="dashboard-item">
                        puntLABORA
                        <img class="dashboard-icon" src="" alt="">
                    </div>
                        
                    <div class="dashboard-item">
                        112 avisos
                        <img class="dashboard-icon" src="" alt="">
                    </div>

                </article>

                <!-- red social -->
                <article class="dashboard-items-container, red-social">

                    <form action="">

                        <div class="social-header-container">header</div>

                        <div class="social-recuadro-container">
                            <input type="text" id="recuadro-texto" name="recuadro-texto" placeholder="¿En qué estás pensando?" required>
                        </div>

                        <div class="social-button-container">
                            <input class="submit-button" type="submit" value="Compartir">
                        </div>

                    </form>

                </article>

                <!-- espacio libre -->
                <article class="dashboard-items-container, espacio-libre">
                    <div class="dashboard-item">
                        libre1
                        <img class="dashboard-icon" src="" alt="">
                    </div>
                </article>

                <article class="dashboard-items-container, espacio-libre">
                    <div class="dashboard-item">
                        libre2
                        <img class="dashboard-icon" src="" alt="">
                    </div>
                </article>

                <article class="dashboard-items-container, espacio-libre">
                    <div class="dashboard-item">
                        libre3
                        <img class="dashboard-icon" src="" alt="">
                    </div>
                </article>

                <article class="dashboard-items-container, espacio-libre">
                    <div class="dashboard-item">
                        libre4
                        <img class="dashboard-icon" src="" alt="">
                    </div>
                </article>

            </section>

        </div>
    </main>

    <footer>
        <p>HowToVLC | Todos los derechos reservados ®</p>
    </footer>

</body>

</html>