<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dashboard.component.css">
    <title>Dashboard</title>
</head>

<body>

    <main>
        <div id="dashboard" class="dashboard-container">

            <!-- parte izquierda del dashboard -->
            <section class="left-dashboard">

                <!-- transporte -->
                <article class="dashboard-item dashboard-items-container container full-size four-items item">

                    <div class="dashboard-item item">
                        metro
                    </div>

                    <div class="dashboard-item item">
                        emt
                    </div>

                    <div class="dashboard-item item">
                        fernanbus
                    </div>

                    <div class="dashboard-item item">
                        valenbisi
                    </div>


                </article>

                <!-- recursos -->
                <article class="dashboard-item dashboard-items-container container two-items">

                    <section class="dashboard-item item">
                        rutas
                    </section>

                    <section class="dashboard-item item">
                        gva
                    </section>

                </article>

                <article class="dashboard-item dashboard-items-container container two-items">

                    <section class="dashboard-item item">
                        salir
                    </section>

                    <section class="dashboard-item item">
                        seguridad
                    </section>

                </article>

                <!-- espacio libre1 -->
                <article class="dashboard-item two-items container">

                    <div class="dashboard-item one-item item">
                        libre1
                    </div>

                    <div class="dashboard-item one-item item">
                        libre2
                    </div>

                </article>

                <article class="dashboard-item two-items container">

                    <div class="dashboard-item one-item item">
                        libre3
                    </div>

                    <div class="dashboard-item one-item item">
                        libre4
                    </div>

                </article>

                <!-- espacio libre2 -->
                <article class="dashboard-item dashboard-items-container container full-size four-items item">

                    <div class="dashboard-item item">
                        libre
                    </div>

                    <div class="dashboard-item item">
                        libre
                    </div>

                    <div class="dashboard-item item">
                        libre
                    </div>

                    <div class="dashboard-item item">
                        libre
                    </div>


                </article>

                <!-- espacio libre3 -->
                <article class="dashboard-item dashboard-items-container container one-item">

                    <section class="dashboard-item item">
                        rutas
                    </section>

                </article>

                <!-- espacio libre4 -->
                <article class="dashboard-item two-items container">

                    <div class="dashboard-item one-item item">
                        libre1
                    </div>

                    <div class="dashboard-item one-item item">
                        libre2
                    </div>

                </article>

            </section>

            <!-- parte derecha del dashboard -->
            <section class="right-dashboard">

                <!-- gva starter pack -->
                <article class="dashboard-item dashboard-items-container full-size three-items container item">

                    <div class="dashboard-item item">
                        gva +salut
                    </div>

                    <div class="dashboard-item item">
                        puntLABORA
                    </div>

                    <div class="dashboard-item item">
                        112 avisos
                    </div>

                </article>

                <!-- red social -->
                <article class="red-social dashboard-item dashboard-items-container full-size one-item container item">

                    <form class="container item" action="">

                        <div class="social-header-container">header</div>

                        <div class="social-recuadro-container container">
                            <input type="text" id="recuadro-texto" name="recuadro-texto"
                                placeholder="¿En qué estás pensando?" required>
                        </div>

                        <div class="social-button-container container">
                            <input class="submit-button" type="submit" value="Compartir">
                        </div>

                    </form>

                </article>

                <!-- espacio libre1 -->
                <article class="dashboard-item dashboard-items-container one-item container item">

                    <div class="dashboard-item item">
                        libre1
                    </div>

                </article>

                <!-- espacio libre2 -->
                <article class="dashboard-item dashboard-items-container one-item container item">

                    <div class="dashboard-item item">
                        libre2
                    </div>

                </article>

                <!-- espacio libre3 -->
                <article class="dashboard-item two-items container">

                    <div class="dashboard-item one-item item">
                        libre3
                    </div>
                    <div class="dashboard-item one-item item">
                        libre4
                    </div>

                </article>

                <!-- espacio libre4 -->
                <article class="dashboard-item dashboard-items-container full-size one-item container item">

                    <div class="dashboard-item item">
                        libre5
                    </div>

                </article>

            </section>

        </div>
    </main>

    <footer>
        <p>HowToVLC | Todos los derechos reservados ®</p>
    </footer>

</body>

</html>