<section id="login" class="login-container">
    <form class="login-form" action="" method="post">
        <div>
            <label for="nombre">Nombre: <span class="asterisco">*</span></label>
            <input type="text" id="nombre" name="nombre" required>
        </div>

        <div>
            <label for="apellidos">Apellidos: </label>
            <input type="text" id="apellidos" name="apellidos" required>
        </div>

        <div>
            <label for="email">Correo electrónico: <span class="asterisco">*</span></label>
            <input type="email" id="email" name="email" placeholder="ejemplo@mail.com" required>
        </div>

        <div>
            <label for="usuario">Nombre de usuario: <span class="asterisco">*</span></label>
            <input type="text" id="usuario" name="usuario" required>
        </div>

        <div>
            <label for="contrasena">Contraseña: <span class="asterisco">*</span></label>
            <input type="password" id="contrasena" name="contrasena" required>
        </div>

        <div>
            <label for="fecha_nacimiento">Fecha de nacimiento: <span class="asterisco">*</span></label>
            <input class="fecha" type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
        </div>

        <div class="mensaje">
            * Los campos marcados con un " * " son obligatorios
        </div>

        <div class="submit-button-container">
            <input class="submit-button" type="submit" value="Enviar">
        </div>

        <a class="no-login" routerLink="../dashboard"> Continuar sin registrarse → </a>
    </form>
</section>