<div id="recursos" class="recursos-container">

    <section id="transporte" class="seccion-recursos transporte">

        <h2>Transporte público</h2>

        <h3>Bus</h3>
        <article id="bus" class="subseccion-recursos bus">

            <div id="emt" class="recurso">

                <header class="header-recurso">
                    <div class="recurso-img-container">
                        <img src="assets/img/logos-apps/emt.png" alt="logo-emt">
                    </div>
                    <h2>EMT</h2>
                </header>

                <main class="cuerpo-recurso">

                    <h4 class="nombre-empresa">Empresa Metropolitana de Transporte</h4>
                    <p>Visita su web:
                        <span class="linkWeb"><a href="https://www.emtvalencia.es">emtvalencia.es</a></span>
                    </p>

                    <p>¿Qué ofrece?</p>
                    <ul>
                        <li>Consulta los horarios de los buses</li>
                        <li>Consulta cuántos viajes te quedan en la tarjeta</li>
                        <li>Recarga la tarjeta</li>
                        <li>Infórmate sobre el abono gratuito para menores de 31</li>
                    </ul>

<!--                     <p>¿Cómo lo puntuarías?</p>
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                            title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                            for="star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                            title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                            for="star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                            title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                            for="star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                            title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                            for="star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                            title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half"
                            for="starhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset> -->

                    <p>Tlf: <span> 900461046 </span></p>
                </main>

                <footer class="footer-recurso">
                    <p>Descarga la app: </p>
                    <a href=""><img src="assets/img/badges-descarga/app-store-badge.png" alt="Descarga para iOS"></a>
                    <a href=""><img src="assets/img/badges-descarga/google-play-badge.png"
                            alt="Descarga para Android"></a>
                </footer>
            </div>

            <div id="fernanbus" class="recurso">

                <header class="header-recurso">
                    <div class="recurso-img-container">
                        <img src="assets/img/logos-apps/fernanbus.png" alt="logo-fernanbus">
                    </div>
                    <h2>Fernanbús</h2>
                </header>

                <main class="cuerpo-recurso">

                    <h4 class="nombre-empresa">Empresa marca METROBUS</h4>
                    <p>Visita su web:
                        <span class="linkWeb"><a href="https://transviago.com/fernanbus/">fernanbus.es</a></span>
                    </p>

                    <p>¿Qué ofrece?</p>
                    <ul>
                        <li>Consulta los horarios de los buses</li>
                    </ul>
                    <p>Tlf: <span> 961500082 </span></p>
                    <p>e-mail: <span> <a href="mailto:info@fernanbus.es">info@fernanbus.es </a></span></p>

<!--                     <p>¿Cómo lo puntuarías?</p>
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                            title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                            for="star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                            title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                            for="star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                            title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                            for="star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                            title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                            for="star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                            title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half"
                            for="starhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset> -->

                </main>

                <footer class="footer-recurso">
                    <p>Descarga la app: </p>
                    <a href=""><img src="assets/img/badges-descarga/app-store-badge.png" alt="Descarga para iOS"></a>
                    <a href=""><img src="assets/img/badges-descarga/google-play-badge.png"
                            alt="Descarga para Android"></a>
                </footer>
            </div>

        </article>

    </section>

</div>