
.recursos-container{width: 75%; margin: 0 auto;}
.recursos-container *{max-width: 100%;}
.recursos-container:first-child{ margin-top: 10vh; }
.recursos-container { display: flex; }

.seccion-recursos{ margin: 2vh auto; }

.seccion-recursos h2{ font-size: 2.5vw; }

.seccion-recursos h3 {
  width: 100%;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: solid 5px var(--amarillo-main);
}

.subseccion-recursos{display: grid; grid-template-columns: repeat(2,1fr); gap: 2vw;}

.bus{display: grid; grid-template-columns: repeat(2,1fr);}


/* OTROS RECURSOS */
/* todo: hacer otro componente con esta estructura */

.otros-recursos{ grid-column-start: 1; grid-column-end: 3; justify-self: center; width: 80%; }

.otros-recursos .cuerpo-recurso p{margin: 0.5vh 0;}

/* header */
.otros-recursos .header-recurso {
  height: 7.5vh; width: 100%;
  display: flex;  align-items: center;
  flex-direction: row;
  gap: 2vw;
}

.recurso-img-container img{border-radius: 1vw;}

.otros-recursos .header-recurso * { max-height: 7.5vh; max-width: 7.5vw;}

.otros-recursos .header-recurso h2{ font-size: 2vw; text-wrap: nowrap;}

/* cuerpo */

.otros-recursos .cuerpo-recurso{ display: flex; flex-direction: column; }

.otros-recursos .cuerpo-recurso p a{ text-decoration: underline; }

.otros-recursos .cuerpo-recurso h4{ font-size: 1vw; margin: 0.5vh 0;}

.otros-recursos .cuerpo-recurso p{ font-size: 1.1vw; color: var(--amarillo-main);}

.otros-recursos .cuerpo-recurso ul{ margin: 0.5vh 0; }

.otros-recursos .cuerpo-recurso ul li{ font-size: 1vw; }

/* hovers */

.otros-recursos .footer-recurso a:hover img{ filter: drop-shadow(0 0 20px var(--amarillo-main)); }

.otros-recursos .cuerpo-recurso p a:hover{ color: var(--amarillo-enfasis);}

