<div id="dashboard" class="dashboard-container">

    <!-- parte izquierda del dashboard -->
    <section class="left-dashboard">

        <!-- transporte -->
        <article class="dashboard-item dashboard-items-container container full-size four-items item">

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="metro">
            </a>

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/emt.png" alt="emt">
            </a>

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/fernanbus.png" alt="fernanbus">
            </a>

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/valenbisi.png" alt="valenbisi">
            </a>

        </article>

        <!-- recursos -->
        <article class="dashboard-item dashboard-items-container container two-items">

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="rutas">
            </a>

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="gva">
            </a>

        </article>

        <article class="dashboard-item dashboard-items-container container two-items">

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="salir">
            </a>

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="seguridad">
            </a>

        </article>

        <!-- espacio libre1 -->
        <article class="dashboard-item two-items container">

            <a class="dashboard-item one-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre1">
            </a>

            <a class="dashboard-item one-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre2">
            </a>

        </article>

        <article class="dashboard-item two-items container">

            <a class="dashboard-item one-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre3">
            </a>

            <a class="dashboard-item one-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre4">
            </a>

        </article>

        <!-- espacio libre2 -->
        <article class="dashboard-item dashboard-items-container container full-size four-items item">

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre">
            </a>

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre">
            </a>

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre">
            </a>

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre">
            </a>

        </article>

        <!-- espacio libre3 -->
        <article class="dashboard-item dashboard-items-container container one-item">

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="rutas">
            </a>

        </article>

        <!-- espacio libre4 -->
        <article class="dashboard-item two-items container">

            <a class="dashboard-item one-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre1">
            </a>

            <a class="dashboard-item one-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre2">
            </a>

        </article>

    </section>

    <!-- parte derecha del dashboard -->
    <section class="right-dashboard">

        <!-- gva starter pack -->
        <article class="dashboard-item dashboard-items-container full-size three-items container item">

            <a class="dashboard-item item img-container">
                <img src="" alt="gva +salut">
            </a>

            <a class="dashboard-item item img-container">
                <img src="" alt="puntLABORA">
            </a>

            <a class="dashboard-item item img-container">
                <img src="" alt="112 avisos">
            </a>

        </article>

        <!-- red social -->
        <article class="red-social dashboard-item dashboard-items-container full-size one-item container item">

            <form action="" class="dashboard-item item">

            </form>

        </article>

        <!-- espacio libre1 -->
        <article class="dashboard-item dashboard-items-container one-item container item">

            <a class="dashboard-item item img-container">
                <img src="" alt="libre1">
            </a>

        </article>

        <!-- espacio libre2 -->
        <article class="dashboard-item dashboard-items-container one-item container item">

            <a class="dashboard-item item img-container">
                <img src="" alt="libre2">
            </a>

        </article>

        <!-- espacio libre3 -->
        <article class="dashboard-item two-items container">

            <a class="dashboard-item one-item item img-container">
                <img src="" alt="libre3">
            </a>

            <a class="dashboard-item one-item item img-container">
                <img src="" alt="libre4">
            </a>

        </article>

        <!-- espacio libre4 -->
        <article class="dashboard-item dashboard-items-container full-size one-item container item">

            <a class="dashboard-item item img-container">
                <img src="" alt="libre5">
            </a>

        </article>

    </section>

</div>
