<div id="dashboard" class="dashboard-container">

    <!-- parte izquierda del dashboard -->
    <section class="left-dashboard">

        <!-- transporte -->
        <article class="dashboard-item dashboard-items-container container full-size four-items item">

            <a class="dashboard-item item img-container">
                metro
                <img src="" alt="metro">
            </a>
        
            <a class="dashboard-item item img-container">
                emt
                <img src="" alt="emt">
            </a>
        
            <a class="dashboard-item item img-container">
                fernanbus
                <img src="" alt="fernanbus">
            </a>
        
            <a class="dashboard-item item img-container">
                valenbisi
                <img src="" alt="valenbisi">
            </a>
        
        </article>
        
        <!-- recursos -->
        <article class="dashboard-item dashboard-items-container container two-items">
        
            <section class="dashboard-item item">
                rutas
            </section>
        
            <section class="dashboard-item item">
                gva
            </section>
        
        </article>
        
        <article class="dashboard-item dashboard-items-container container two-items">
        
            <section class="dashboard-item item">
                salir
            </section>
        
            <section class="dashboard-item item">
                seguridad
            </section>
        
        </article>
        
        <!-- espacio libre1 -->
        <article class="dashboard-item two-items container">
        
            <a class="dashboard-item one-item item img-container">
                libre1
                <img src="" alt="libre1">
            </a>
        
            <a class="dashboard-item one-item item img-container">
                libre2
                <img src="" alt="libre2">
            </a>
        
        </article>
        
        <article class="dashboard-item two-items container">
        
            <a class="dashboard-item one-item item img-container">
                libre3
                <img src="" alt="libre3">
            </a>
        
            <a class="dashboard-item one-item item img-container">
                libre4
                <img src="" alt="libre4">
            </a>
        
        </article>
        
        <!-- espacio libre2 -->
        <article class="dashboard-item dashboard-items-container container full-size four-items item">
        
            <a class="dashboard-item item img-container">
                libre
                <img src="" alt="libre">
            </a>
        
            <a class="dashboard-item item img-container">
                libre
                <img src="" alt="libre">
            </a>
        
            <a class="dashboard-item item img-container">
                libre
                <img src="" alt="libre">
            </a>
        
            <a class="dashboard-item item img-container">
                libre
                <img src="" alt="libre">
            </a>
        
        </article>
        
        <!-- espacio libre3 -->
        <article class="dashboard-item dashboard-items-container container one-item">
        
            <section class="dashboard-item item">
                rutas
            </section>
        
        </article>
        
        <!-- espacio libre4 -->
        <article class="dashboard-item two-items container">
        
            <a class="dashboard-item one-item item img-container">
                libre1
                <img src="" alt="libre1">
            </a>
        
            <a class="dashboard-item one-item item img-container">
                libre2
                <img src="" alt="libre2">
            </a>
        
        </article>
        
        </section>
        
        <!-- parte derecha del dashboard -->
        <section class="right-dashboard">
        
            <!-- gva starter pack -->
            <article class="dashboard-item dashboard-items-container full-size three-items container item">
        
                <a class="dashboard-item item img-container">
                    gva +salut
                    <img src="" alt="gva +salut">
                </a>
        
                <a class="dashboard-item item img-container">
                    puntLABORA
                    <img src="" alt="puntLABORA">
                </a>
        
                <a class="dashboard-item item img-container">
                    112 avisos
                    <img src="" alt="112 avisos">
                </a>
        
            </article>
        
            <!-- red social -->
            <article class="red-social dashboard-item dashboard-items-container full-size one-item container item">
        
                <form action="" class="dashboard-item item">
        
                </form>
        
            </article>
        
            <!-- espacio libre1 -->
            <article class="dashboard-item dashboard-items-container one-item container item">
        
                <a class="dashboard-item item img-container">
                    libre1
                    <img src="" alt="libre1">
                </a>
        
            </article>
        
            <!-- espacio libre2 -->
            <article class="dashboard-item dashboard-items-container one-item container item">
        
                <a class="dashboard-item item img-container">
                    libre2
                    <img src="" alt="libre2">
                </a>
        
            </article>
        
            <!-- espacio libre3 -->
            <article class="dashboard-item two-items container">
        
                <a class="dashboard-item one-item item img-container">
                    libre3
                    <img src="" alt="libre3">
                </a>
        
                <a class="dashboard-item one-item item img-container">
                    libre4
                    <img src="" alt="libre4">
                </a>
        
            </article>
        
            <!-- espacio libre4 -->
            <article class="dashboard-item dashboard-items-container full-size one-item container item">
        
                <a class="dashboard-item item img-container">
                    libre5
                    <img src="" alt="libre5">
                </a>
        
            </article>
        
        </section>
        

</div>