<div id="dashboard" class="dashboard-container">

    <!-- parte izquierda del dashboard -->
    <section class="left-dashboard">

        <!-- transporte -->
        <article class="dashboard-item dashboard-items-container container full-size four-items item">

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="metro" class="img-logo-full">
            </a>

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/emt.png" alt="emt" class="img-logo-full">
            </a>

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/fernanbus.png" alt="fernanbus" class="img-logo-full">
            </a>

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/valenbisi.png" alt="valenbisi" class="img-logo-full">
            </a>

        </article>

        <!-- recursos -->
        <article class="dashboard-item dashboard-items-container container two-items">

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="rutas" class="img-logo-full">
            </a>

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="gva" class="img-logo-full">
            </a>

        </article>

        <article class="dashboard-item dashboard-items-container container two-items">

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="salir" class="img-logo-full">
            </a>

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="seguridad" class="img-logo-full">
            </a>

        </article>

        <!-- espacio libre1 -->
        <article class="dashboard-item two-items container">

            <a class="dashboard-item one-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre1" class="img-logo-full">
            </a>

            <a class="dashboard-item one-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre2" class="img-logo-full">
            </a>

        </article>

        <article class="dashboard-item two-items container">

            <a class="dashboard-item one-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre3" class="img-logo-full">
            </a>

            <a class="dashboard-item one-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre4" class="img-logo-full">
            </a>

        </article>

        <!-- espacio libre2 -->
        <article class="dashboard-item dashboard-items-container container full-size four-items item">

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre" class="img-logo-full">
            </a>

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre" class="img-logo-full">
            </a>

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre" class="img-logo-full">
            </a>

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre" class="img-logo-full">
            </a>

        </article>

        <!-- espacio libre3 -->
        <article class="dashboard-item dashboard-items-container container one-item">

            <a class="dashboard-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="rutas" class="img-logo-full">
            </a>

        </article>

        <!-- espacio libre4 -->
        <article class="dashboard-item two-items container">

            <a class="dashboard-item one-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre1" class="img-logo-full">
            </a>

            <a class="dashboard-item one-item item img-container">
                <img src="assets/img/logos-apps/metrovalencia.png" alt="libre2" class="img-logo-full">
            </a>

        </article>

    </section>

    <!-- parte derecha del dashboard -->
    <section class="right-dashboard">

        <!-- gva starter pack -->
        <article class="dashboard-item dashboard-items-container full-size three-items container item">

            <a class="dashboard-item item img-container">
                <img src="" alt="gva +salut" class="img-logo-full">
            </a>

            <a class="dashboard-item item img-container">
                <img src="" alt="puntLABORA" class="img-logo-full">
            </a>

            <a class="dashboard-item item img-container">
                <img src="" alt="112 avisos" class="img-logo-full">
            </a>

        </article>

        <!-- red social -->
        <article class="red-social dashboard-item dashboard-items-container full-size one-item container item">

            <form action="" class="dashboard-item item">

            </form>

        </article>

        <!-- espacio libre1 -->
        <article class="dashboard-item dashboard-items-container one-item container item">

            <a class="dashboard-item item img-container" style="display: flex; flex-direction: column;">
                <h1>Hola</h1>
            </a>

        </article>

        <!-- espacio libre2 -->
        <article class="dashboard-item dashboard-items-container one-item container item">

            <a class="dashboard-item item img-container">
                <img src="" alt="libre2" class="img-logo-full">
            </a>

        </article>

        <!-- espacio libre3 -->
        <article class="dashboard-item two-items container">

            <a class="dashboard-item one-item item img-container">
                <img src="" alt="libre3" class="img-logo-full">
            </a>

            <a class="dashboard-item one-item item img-container">
                <img src="" alt="libre4" class="img-logo-full">
            </a>

        </article>

        <!-- espacio libre4 -->
        <article class="dashboard-item dashboard-items-container full-size one-item container item">

            <a class="dashboard-item item img-container">
                <img src="" alt="libre5" class="img-logo-full">
            </a>

        </article>

    </section>

</div>
