.footer {
    height: 5vh; width: 100%;
    position: absolute; 
    margin: 5vh auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.footer p {
    color: var(--amarillo-main); 
    font-size: 1.5vh;
}

@media screen and (max-width: 767px) {
    .footer p {
        display: none;
    }
}