<!-- Main -->
<main id="main" class="flexbox-col-start-center">

    <!-- Profile Page -->
    <div class="view-width">
  
      <!-- Profile Header -->
      <section class="profile-header">
        <div class="profile-header-inner flexbox">
          <div class="phi-info-wrapper flexbox">
            <div class="phi-info-left flexbox">
              <!-- Profile Picture -->
              <div class="phi-profile-picture-wrapper">
                <div class="phi-profile-picture-inner flexbox">
                  <img class="phi-profile-picture" src="../../assets/img/mondongo.png" alt="">
                </div>
              </div>
              <!-- Profile Username -->
              <div class="phi-profile-username-wrapper flexbox-col-left">
                <h3 class="phi-profile-username flexbox">Usuario<span class="material-icons-round">verficado</span><i class="fa-solid fa-check"></i></h3>
                <p class="phi-profile-tagline">Akuarela playa</p>
              </div>
            </div>
            <div class="phi-info-right flexbox-right">
              <div>
                <button type="button" class="btn-primary-gray button btn-primary flexbox">
                    <i class="fa-solid fa-heart"></i>Seguir<div class="btn-secondary"></div>
                </button>
              </div>
            </div>
          </div>

          <div class="profile-header-overlay"></div>
          <img class="profile-header-image" src="../../assets/img/artes-y-ciencias.jpg" alt="">
        </div>
      </section>
  
      <!-- Profile Page -->
      <section class="profile-page">
        <h3>Eventos subidos</h3>

        <div class="container">
          <div class="image">
            <a href=""><img src="../../assets/img/akuarela-perfil.jpg"/></a>
          </div>
          <div class="image">
            <a href=""><img src="../../assets/img/akuarela-perfil.jpg"/></a>
          </div>
          <div class="image">
            <a href=""><img src="../../assets/img/akuarela-perfil.jpg"/></a>
          </div>
        </div>

        <div class="container">
          <div class="image">
            <a href=""><img src="../../assets/img/akuarela-perfil.jpg"/></a>
          </div>
          <div class="image">
            <a href=""><img src="../../assets/img/akuarela-perfil.jpg"/></a>
          </div>  
          <div class="image">
            <a href=""><img src="../../assets/img/akuarela-perfil.jpg"/></a>
          </div>
        </div>

      </section>
  
    </div>
  
  </main>