<section class="user">
    <div class="icono">
        <img src="../../../assets/img/Jungle Frenzy.png" alt="imagen usuario" class="circulo">
    </div>
    <div class="username">
        <h1>[Nombre de usuario]</h1>
    </div>
    <div class="nivel">
        <h1>69</h1>
        <h5>Nivel</h5>
    </div>
</section>
<section class="EXP">
    <h2>EXP <i class="fa fa-diamond" aria-hidden="true"></i></h2>
    <progress value="50" max="100"></progress>
    <h2>50/100</h2>
</section>
<section class="Recompensas">
    <h1>RECOMPENSAS DE NIVEL</h1>
    <table class="rewards">
        <thead>
            <th class="pequeño">Nivel</th>
            <th colspan="3" class="grande">Recompensa</th>
        </thead>
        <tbody>
            <tr>
                <td class="pequeño">3</td>
                <td colspan="3" class="grande">Sombrero paellero</td>
                
            </tr>
            <tr>
                <td class="pequeño">2</td>
                <td colspan="3" class="grande">Gafas de sol</td>
            </tr>
            <tr>
                <td class="pequeño">1</td>
                <td colspan="3" class="grande">Furby to feo</td>
            </tr>
        </tbody>
    </table>
</section>
