/* You can add global styles to this file, and also import other style files */

/******************************************************* COLORES ******************************************************/

:root{ /* ¡¡IMPORTANTE!! Variables para los colores, usar estas y añadir colores aquí */
    --background : #0A0E3F;
    --item-background : #39336a;
    --subitem-background : #1e1c50;

    --amarillo-main : #ffcd07;
    --amarillo-enfasis : #826c00;

    --gris : grey;
    --blanco : white;
}

/******************************************************* GENERAL ******************************************************/

*{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
    text-decoration: none;
}

/******************************************************* HEADER ******************************************************/


/******************************************************* BODY ******************************************************/

body{ margin: 0; background-color: var(--background); }

/******************************************************* FOOTER ******************************************************/

footer{display: flex; justify-content: center; align-items: center;}
footer p{color:#ffcd07;font-size: 1.5vh;}