/* Usad esta hoja de estilos de momento, os la he linkeado ya :) */


/* ---------------------------------------------------------------------------------------------------------------- */


/* borrad esto cuando empecéis con el código jajaja: */

#queCojonesEsUnID{
    background-color:dodgerblue;
}

#queCojonesEsUnSection{
    color: dodgerblue;
}

.amarillo{
    color:yellow;
    background-color: black; /* si no no se veia jaja */
}

.rojo{
    background-color: green;
}

/* todos los h4 dentro de un contenedor (el div) con la clase "rojo" */
.rojo h4{
    color:blueviolet
}

/* todos los elementos con la clase "hazleCasoAlRojo" que estén dentro
del contenedor con la clase "rojo" */
.rojo .hazleCasoAlRojo{
    color: red;
}

/* También le puedes dar estilo como tal a las etiquetas, por ejemplo algo
general que afecte a todo el header, o a todo el footer, incluso a todo el body */
footer{
    background-color: chartreuse;
}